@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Kamery</h2>
        <ul>
            <li><a asp-controller="Home" asp-action="CameraView">Toruńska</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Bramy</h2>
        <ul>
            <li>TODO...</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Alarmy</h2>
        <ul>
            <li>TODO...</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Konfiguracja</h2>
        <ul>
            <li>TODO...</li>
        </ul>
    </div>
</div>
